body {
  /* background-image: url("images/gplaypattern.png"); */
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

.container {
  display: flex;
  justify-content: center;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: absolute;
  left: 15%;
  top: 35%;
  width: 275px;
  height: 275px;
  background: #595959;
  padding: 20px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#photo-it img {
  justify-content: center;
  height: 40px;
  width: 40px;
}

.title {
  color: #595959;
  font-family: 'Pacifico', cursive;
  font-size: 35px;
  position: absolute;
  top: 6%;
  left: 10%;
}

/* button#gradient-ify {
  background: linear-gradient(46deg, rgb(135, 27, 98), rgb(24, 59, 220));
} */

/*
.album-clone {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 5%;
  left: 15%;
}
*/

.instructions {
  display: block;
  font-size: 25px;
  width: 500px;
  position: absolute;
  top: 10%;
  left: 5%;
  color: #666;
}

.controls button {
  height: 60px;
  width: 60px;
  font-size: 20px;
  padding: 5px 10px;
  margin: 5px;
  margin-top: 15px;
  border: none;
  background-color: #595959;
  border-radius: 10px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.button-text {
  display: inline-block;
  font-size: 18px;
  color: #666;
}

.main {
  display: flex;
  justify-content: center;
  background: #ffffff;
  margin-top: 5%;
  margin-left: 45%;
  height: 600px;
  width: 600px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.horizontal {
  background: #595959;
  height: 3px;
  width: 1240px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.example-text {
  font-size: 25px;
  font-family: 'Comfortaa', cursive;
  color: #595959;
}

.example-albums {
  position: relative;
  top: 5%;
  left: 10%;
}

.example-albums img {
  height: 150px;
  width: 150px;
  margin: 10px;
  padding: 10px;
}

#image-ify img {
  height: 40px;
}

#rain-ify img {
  height: 50px;
}

#font-ify, #name-ify {
  font-family: 'Dancing Script', cursive;
  text-transform: capitalize;
  color: #ffffff;
  font-size: 30px;
}

.album-clone .main {
  position: absolute;
  top: 10%;
  left: 20%;
}

#rage, #raged, #enrage {
  padding: 5px 10px;
  border-radius: 5px;
}

#random-shape {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  position: absolute;
  z-index: 99;
}

#random-shape img {
  height: 150px;
}

#random-name {
  font-family: 'Pacifico', cursive;
  text-transform: lowercase;
  margin-top: 25%;
  font-size: 70px;
  color: #ffffff;
  position: absolute;
  z-index: 99;
}

#random-photo {
  z-index: 9;
  opacity: .3;
  filter: grayscale(100%);
}