body {
  background-image: url("images/gplaypattern.png");
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

.container {
  display: flex;
  justify-content: center;
}

.controls {
  position: absolute;
  left: 8%;
  top: 27%;
  width: 420px;
}

.instructions {
  display: block;
  font-size: 25px;
  width: 500px;
  position: absolute;
  top: 10%;
  left: 5%;
  color: #666;
}

.controls button {
  font-size: 20px;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.button-text {
  display: inline-block;
  font-size: 18px;
  color: #666;
}

#main {
  display: flex;
  justify-content: center;
  background: #ffffff;
  margin-top: 5%;
  margin-left: 35%;
  height: 600px;
  width: 600px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#rage, #raged, #enrage {
  padding: 5px 10px;
  border-radius: 5px;
}

#random-shape {
  margin-top: 3%;
  height: 150px;
  position: absolute;
  z-index: 99;
}

#random-name {
  font-family: 'Pacifico', cursive;
  text-transform: lowercase;
  margin-top: 25%;
  font-size: 70px;
  color: #ffffff;
  position: absolute;
  z-index: 99;
}

#random-photo {
  z-index: 9;
  opacity: .3;
  filter: grayscale(100%);
}